@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.4) 37%,
    rgba(255, 255, 255, 0.2) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.5s infinite;
}
